<%= simple_form_for(@template) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.input :title, :input_html => {:class => "span4"} %>

    <%= f.input :template, :input_html => {:class => "span8"} %>

    <%= f.input :user_id, :as => :hidden, :value => current_user %>

  </div>
<br />

    <%= f.button :submit, "Publish Template", :class => "btn-inverse btn-mini"%>

<% end %>
