<h3>Radlib Templates</h3>
<% if user_signed_in? %>
<div>
<%= link_to '+ New Template', new_template_path %>
<% end %>
</div>
<hr>

<% @templates.each do |template| %>
    <%if template.created_at >= Time.now - 24.hours%>
    <div class="itsnew pull-right"></div>
    <%end%>
    <h6><%= template.title %></h6>
    <h7>By: <%= template.user.name %></h7><br /><br />
    <% present template do |presenter| %>
    <p>
    <%= presenter.truncated_template_sans_markup %>

    </p>
    <% end %>
    <br /><br />
    <%= pluralize (template.template).scan(/\w+/).size, "word" %> long | <% present template do |presenter| %><%= pluralize presenter.get_words_count, "editable" %><%end%><br />
    <%= link_to 'View Template', template %> |
    <%= link_to 'Fill In!', new_radlib_path(template_id: template) %> |
    <%= link_to 'Destroy', template, method: :delete, data: { confirm: 'Are you sure?' } %>

    <div class="pull-right">
    | <%= pluralize template.reputation_for(:votes).to_i, "vote" %>
    <% if current_user && !current_user.voted_for_template?(template) %>
      | <%= link_to "up", vote_template_path(template, type: "up"), method: "post" %>
      | <%= link_to "down", vote_template_path(template, type: "down"), method: "post" %>
    <% end %>
	</div>
  <hr>
<% end %>
<br />

