<h3>Radlib Templates</h3>


<% @templates.each do |template| %>
    <%= template. title %><br />
    <%= template.template %><br />
    <%= link_to 'Show', template %>
    <%= link_to 'Edit', edit_template_path(template) %>
    <%= link_to 'Destroy', template, method: :delete, data: { confirm: 'Are you sure?' } %>
  </tr>
<% end %>
</table>

<br />

<%= link_to '+ New Template', new_template_path %>
