<p id="notice"><%= notice %></p>

<h4>
  <%= @template. title %>
</h4>

<p>
  <%=simple_format (@template.template) %>
</p>



<%= link_to 'Edit', edit_template_path(@template) %> |
<%= link_to 'Back', templates_path %>
