<p id="notice"><%= notice %></p>
<div class="pull-right">
| <%= pluralize @template.reputation_for(:votes).to_i, "vote" %>
<% if current_user && !current_user.voted_for?(@template) %>
  | <%= link_to "up", vote_template_path(@template, type: "up"), method: "post" %>
  | <%= link_to "down", vote_template_path(@template, type: "down"), method: "post" %>
<% end %>
</div>
<h4>
  <%= @template. title %>
</h4>

<p>
  <%=Mustache.render (@template.template), @words %>
</p>
<br />

<%= link_to 'Edit', edit_template_path(@template) %> |
<%= link_to 'Back', templates_path %> |
<%= link_to 'Fill Out!', new_radlib_path(template_id: @template) %>
<hr>
<% @template.radlibs do |radlib|%>
<%= radlib.user.name %>
<% end %>