<h3><%= @user.name %></h3><br />
<%= link_to @user.reputation_for(:votes).to_i, user_path(@user), :class => "rep2" %>

<hr>

<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab"><h5>Radlib Templates</h5></a></li>
    <li><a href="#tab2" data-toggle="tab"><h5>Filled-Out Radlibs</h5></a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <% @user.templates.each do |template| %>
          <h6><%= template. title %></h6>
          <p>
         <% present template do |presenter| %>
         <p>
         <%= presenter.truncated_template_sans_markup %>
         </p>
         <% end %>         <br />
          </p>
          <br />
          <%= link_to 'Show', template %>

          <div class="pull-right">
          | <%= pluralize template.reputation_for(:votes).to_i, "vote" %>
          <% if current_user && !current_user.voted_for_template?(template) %>
            | <%= link_to "up", vote_template_path(template, type: "up"), method: "post" %>
            | <%= link_to "down", vote_template_path(template, type: "down"), method: "post" %>
          <% end %>
      	</div>
        <hr>
      <% end %>

    </div>
    <div class="tab-pane" id="tab2">
      <% @user.radlibs.each do |radlib| %>
          <h6><%= radlib.template.title %></h6>
          <p>
         <% present radlib do |presenter| %>
         <%= presenter.filled_in_radlib %>
         <% end %>
          </p>
          <br />
          <%= link_to 'Show', radlib %>
       <div class="pull-right">
           | <%= pluralize radlib.reputation_for(:votes).to_i, "vote" %>
           <% if current_user && !current_user.voted_for_radlib?(radlib) %>
             | <%= link_to "up", vote_radlib_path(radlib, type: "up"), method: "post" %>
             | <%= link_to "down", vote_radlib_path(radlib, type: "down"), method: "post" %>
           <% end %>
           </div>
        <hr>
      <% end %>
    </div>
  </div>
</div>

