<% content_for :title do %>Create Adjective stories to Verb with your Nouns!<% end %>

<div class="span8 pull-left home_main">
  <h4 id="tagline">
    <strong>Create <span contenteditable="true" class="highlight" onclick="document.execCommand('selectAll',false,null)">Adjective</span> stories to <span contenteditable="true" class="highlight" onclick="document.execCommand('selectAll',false,null)">Verb</span> with your <span contenteditable="true" class="highlight" onclick="document.execCommand('selectAll',false,null)">Nouns</span>!</strong>
  </h4>
  <hr>

  <h5>Recent Radlibs</h5>

  <div class="itsnew"></div>
  <hr width="250px">

  <%= render partial: 'radlibs/radlib', collection: @recentradlibs %>
  <hr>

  <h5>Recent Stories</h5>
  <div class="itsnew"></div>
  <hr width="250px">

  <%= render partial: 'stories/story', collection: @recentstories %>
</div>
<br /><br />

<div class="span3 pull-right sidebar">
	<h6>Popular Users</h6>

  <% @toprated.each_with_index do |t, n| %>
  	<%= n +1 %>.
    <%=link_to t.name, user_path(t) %> |
    <%= t.reputation_for(:votes).to_i %> votes
    <br />
	<%end%>
	<hr>

	<h6>Popular Radlibs</h6>

  <% @topradlibs.each_with_index do |r, n| %>
  	<%= n +1 %>.
    <%=link_to r.title, radlib_path(r) %> |
    <%=  r.reputation_for(:votes).to_i %> votes
    <br />
	<%end%>
	<hr>

	<h6>Popular Stories</h6>

  <% @topstories.each_with_index do |s, n| %>
  	<%= n +1 %>.
    <%=link_to s.radlib.title, radlib_path(s) %> |
    <%=  s.reputation_for(:votes).to_i %> votes
    <br />
	<%end%>
	<hr>

  <ul>
    <li><%= link_to "About Us", "/aboutus" %></li>
    <li><%= link_to "Dev Blog", "http://radlibsdev.tumblr.com" %></li>
  </ul>
</div>
<br />
