<%= simple_form_for(@radlib) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <% present @radlib do |presenter| %>
    <div id="radlib">
      <%= presenter.editable_radlib %>
    </div>
    <% end %>

    <%= f.input :words, as: :hidden %>
    <%= f.association :template, as: :hidden %>
  </div>

<br /><br />
    <%= f.button :submit, :class => "btn-success" %>

<% end %>
