<%= simple_form_for(@radlib) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <% present @radlib do |presenter| %>
    <div id="radlib">
      <%= presenter.editable_radlib %>
    </div>
    <% end %>

    <%= f.input :words, as: :hidden %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
