<%if radlib.created_at >= Time.now - 24.hours%>
  <div class="itsnew pull-right"></div>
<%end%>

<h6><%= radlib.title %></h6>
<h7>By: <%= radlib.user_name %></h7>
<br /><br />

<% present radlib do |presenter| %>
  <p><%= presenter.truncated_radlib_sans_markup %></p>
<% end %>
<br /><br />

<%= pluralize (radlib.template).scan(/\w+/).size, "word" %> |

<% present radlib do |presenter| %>
  <%= pluralize presenter.get_words_count, "editable" %> |
<%end%>

<%= radlib.stories.count %> Filled In
<br />

<%= link_to 'View Radlib', radlib %> |
<% if can? :create, Radlib %>
  <%= link_to 'Fill out!', new_story_path(radlib_id: radlib) %>
<% end %>

<div class="pull-right">
  | <%= pluralize radlib.reputation_for(:votes).to_i, "vote" %>
  <% if current_user %>
    | <%= link_to "up", vote_radlib_path(radlib, type: "up"), method: "post" %>
    | <%= link_to "down", vote_radlib_path(radlib, type: "down"), method: "post" %>
  <% end %>
</div>
<hr>
