<%= stylesheet_link_tag "radlibs", :media => "all" %>
<h3>Radlibs</h3>
<hr />
<% @radlibs.each do |radlib| %>
<h6><%= radlib.template.title %></h6>
    <% present radlib do |presenter| %>
    <%= presenter.filled_in_radlib %>
    <% end %><br /><br />

    <%= link_to 'Show', radlib %> | 
    <%= link_to 'Edit', edit_radlib_path(radlib) %> | 
    <%= link_to 'View Template', template_path(radlib.template) %> | 
    <%= link_to 'Destroy', radlib, method: :delete, data: { confirm: 'Are you sure?' } %>
  <hr>
<% end %>


