<p id="notice"><%= notice %></p>

<p>
  <b> template:</b>
  <%= @radlib. template_id %>
</p>

<p>
  <b>User:</b>
  <%= @radlib.user_id %>
</p>

<p>
  <b>radlib:</b>
  <%= @radlib.words %>
</p>


<%= link_to 'Edit', edit_radlib_path(@radlib) %> |
<%= link_to 'Back', radlibs_path %>
