<p id="notice"><%= notice %></p>

<p>
  <b> template:</b>
  <%= @radlib. template_id %>
</p>

<p>
  <b>User:</b>
  <%= @radlib.user_id %>
</p>

<% present @radlib, RadlibsPresenter do |presenter| %>
<p>
  <b>radlib:</b>
  <%= presenter.filled_in_radlib %>
</p>
<% end %>


<%= link_to 'Edit', edit_radlib_path(@radlib) %> |
<%= link_to 'Back', radlibs_path %>
