<%= stylesheet_link_tag "radlibs", :media => "all" %>
<p>
  Filled in by:<br />
  <h4><%= @radlib.user.name %></h4>
</p>

<% present @radlib do |presenter| %>
<p>
  <%= presenter.filled_in_radlib %>
</p>
<% end %>


<%= link_to 'Edit', edit_radlib_path(@radlib) %> |
<%= link_to 'Back', radlibs_path %>